fail_fast: false
default_language_version:
  python: python3
default_stages:
  - pre-commit
  - pre-push
minimum_pre_commit_version: 4.5.0

exclude: |
  (?x)(
      cookiecutter-config-file.yml|
      .cruft.json
  )

repos:
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.8
    hooks:
      - id: biome-format
        exclude: ^\.cruft\.json$ # inconsistent indentation with cruft - file never to be modified manually.
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
        types_or: [python, pyi, jupyter]
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-xml
      - id: check-json
      # Pretty format JSON files implicitly
      - id: pretty-format-json
        args: ["--autofix"]

      - id: detect-private-key
      - id: check-case-conflict
      # Check that there are no merge conflicts (could be generated by template sync)
      - id: check-merge-conflict
        args: [--assume-in-merge]

      # Implicit minor corrections to files
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer # ensure all files end with a new line
        files: ^.*$ # Prevent Python comments to be treated as files
      - id: trailing-whitespace # trim trailing whitespaces

      # Good practices for executables/scripts
      - id: check-executables-have-shebangs # non-binary executables have shebang
      - id: check-shebang-scripts-are-executable # verify shebang scripts are executable

      # Debatable -- for most projects adding files larger than 10 MB is likely to be
      # a mistake instead of a requirement. Remove this if needed
      - id: check-added-large-files # fails if a file larger than 10 MB exists
        args: ["--maxkb=10240", "--enforce-all"]

      # Python
      - id: check-ast
